.container{
    margin: 10px;
    height: 300px;
    width: 500px;
    border: 2px solid red;
    background: url(./image/imgres.htm);
    display: inline-block;
    
    
}
.name1{
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone1{
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.email1{
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pincode1{
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}